/* Magic combo being testes in production */

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(67,31,33,1) 43%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

a, a:visited {
  color: #f3d389;
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-self: center;
  width: 100%;
}

.logo {
  width: 120px;
}

.nav-list {
  display: flex;
}

.nav__list--primary {
  margin: 0 auto;
  display: flex;
}

.nav__list-item a {
  color: #f3d389;
}